/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*Frequently used properties*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #23155B;
}

/*Header*/
.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
}

.desktop_menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    gap: 32px;
}

nav ul li {
    transition: all 0.5s ease-out;
}

nav ul li:hover {
    transform: translateY(-5px);
}

.btn_join {
    padding: 12px 24px;
    color: #FFFFFF;
    background: #8053FF;
    font-weight: 500;
    margin-left: 56px;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    border: 1px solid transparent;
}

.btn_join:hover {
    color: #8053FF;
    background-color: transparent;
    border: 1px solid #8053FF;
    transform: translateY(-5px);
}

.mobile_menu {
    /*position: relative;*/
    display: none;
}

/*Section Start*/
.section_start {
}

.section_wrapper {
    background-color: #FBFAFF;
    background-image: url("../images/background/start_background.png");
    border-radius: 24px;
    height: 85vh;
    animation: section_wrapper 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start_container h1 {
    font-size: 64px;
    line-height: 96px;
}

.start_container h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 8px 0 40px 0;
}

.btn_group {
    display: flex;
    gap: 12px;
}

.btn_group button:first-child {
    padding: 12px 48px;
    color: #FFFFFF;
    background-color: #8053FF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    transition: all 0.5s ease-out;
    border: 1px solid transparent;
}

.btn_group button:first-child:hover {
    color: #8053FF;
    background-color: transparent;
    border: 1px solid #8053FF;
    transform: translateY(-5px);
}

.btn_group button:last-child {
    padding: 12px 26px;
    color: #8053FF;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #8053FF;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    transition: all 0.5s ease-out;
}

.btn_group button:last-child:hover {
    color: #FFFFFF;
    background-color: #8053FF;
    border: 1px solid #8053FF;
    transform: translateY(-5px);
}


/*Section Pipeline*/
.section_pipeline {
    padding: 200px 0;
}

.section_pipeline h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
    position: relative;
}

.section_pipeline h1:before {
    content: "";
    /*background-image: url("../images/pipeline/line_1.png");*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    right: 24px;
    height: 2px;
    width: 40%;
    color: red;
    background: blue;
}

.section_pipeline img {
    transition: 0.7s all ease-out;
}

.section_pipeline img:hover {
    transform: scale(1.1);
}


/*Section Defi*/
.section_defi {
    padding-bottom: 200px;
}

.defi_left_side {
    display: flex;
    justify-content: center;
}

.defi_left_side > div {
    text-align: left;
    max-width: 400px;
}

.defi_left_side h1 {
    font-size: 52px;
    line-height: 64px;
    font-weight: 700;
    color: #23155B;
}

.defi_left_side span {
    color: #8053FF;
}


.defi_item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 14px 64px -4px #23155B0D;
    background-color: #FFFFFF;
    margin: 12px 0;
    gap: 12px;
    padding: 32px 50px;
}

.defi_item_number {
    color: #8053FF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.defi_item_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #23155B;
}


/*Section Answer*/
.section_answer {
    padding: 200px 0;
    background-color: #FBFAFF;
    background-image: url("../images/background/answer_background.png");
    border-top-left-radius: 15%;
    background-position: top left;
    background-repeat: no-repeat;
}

.answer_wrapper {
    max-width: 630px;
}

.section_answer a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(128, 83, 255, 1);
}

.section_answer h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    color: rgba(35, 21, 91, 1);
    margin-bottom: 12px;
}

.section_answer h1 span {
    color: rgba(128, 83, 255, 1);
}

.section_answer p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(35, 21, 91, 1);
}


/*Section Access*/
.section_accsess {
    padding: 200px 0;
    background-color: #FBFAFF;
    background-image: url("../images/background/accsess_background.png");
    border-top-right-radius: 15%;
    background-position: top right;
    background-repeat: no-repeat;
}

.accsess_wrapper a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(128, 83, 255, 1);
}

.accsess_wrapper h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    color: rgba(35, 21, 91, 1);
    margin-bottom: 12px;
}

.accsess_wrapper h1 span {
    color: rgba(128, 83, 255, 1);
}

.accsess {
    padding: 12px 24px;
    background-color: rgba(128, 83, 255, 1);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    border-radius: 8px;
    margin-top: 40px;
    width: 280px;
}


/*Section Brought*/
.section_brought {
    /*padding-bottom: 200px;*/
}

.brought_left_side {
    position: relative;
    padding: 0;
    height: 600px;
}

.brought_left_side img:first-child {
    position: absolute;
    left: 0;
    top: 50px;
    height: 530px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    z-index: 2;
}

.brought_left_side img:last-child {
    position: absolute;
    left: 95px;
    top: 70px;
    height: 530px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}


.brought_right_side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    z-index: 5;
}

.brought_right_side > div:first-child {
    max-width: 650px;
}

.brought_right_side h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    margin: 16px 0 22px 0;
}

.brought_right_side span {
    color: #8053FF;
}

.brought_right_side p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(35, 21, 91, 1);
}


/*Section Footer*/
.section_footer {
    padding: 180px 0;
    position: relative;
    border-top-left-radius: 25%;
    background-color: rgba(35, 21, 91, 1);
    background-image: url("../images/background/footer_left.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.footer_left_side h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    color: rgba(255, 255, 255, 1);
}

.footer_left_side > div:first-child {
    max-width: 460px;
}

.footer_left_side h1 span {
    color: rgba(128, 83, 255, 1);
}

.footer_left_side p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(212, 205, 239, 1);
    margin: 12px 0 50px 0;
}

.input_wrapper {
    padding-left: 0;
}

.input_wrapper label {
    color: rgba(212, 205, 239, 1);
    margin-bottom: 4px;
    margin-top: 20px;
}

.section_footer input {
    border-radius: 8px;
    padding: 10px;
    border: none;
    height: 48px;
    color: rgba(128, 83, 255, 1);
    width: 100%;
}

.send_btn {
    background-color: rgba(128, 83, 255, 1);
    color: #FFFFFF;
    border-radius: 8px;
    margin-top: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 95px;
}

.footer_right_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer_right_side ul {
    display: flex;
    gap: 30px;
}

.copyright_group {
    display: flex;
    gap: 40px;
}

.copyright_text {
    color: rgba(212, 205, 239, 1);
    font-weight: 500;
    line-height: 21;
}



/* Custom Scroll */
.custom-scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #F4F4F4;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 83, 255, 1);
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}